/* slack css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul { 
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code from Splack*/
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}
/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
}
h1 { 
    font-size: 40px;
    color: #0d0d0d;
}
h2 {
    font-size: 30px;
    color: #0d0d0d ;
}
h3{
    font-size: 25px;
    color: #0d0d0d ;
}
nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
    color: #0d0d0d ;
}
p, dd, li, nav, input, dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0d0d0d ;
}
dt { 
    font-weight: bold;
}
/* End of Font Styles */
/* Background */
main {
    background-color: #f2f2f2;
}
body {
    width: 414px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}
#sides {
    background-color: #7abfbf ;
}
    #sides .dish {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
#sides img {
    width: 7rem;
}
.dish > div:nth-child(2) {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
/* End of Background Colors */
/* Main Naviagtion design */
.menu h3 {
    visibility: hidden;
}
nav img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.menu {
    position: absolute;
    top: 0px;
    background-color: #f2f2f2;
    width: 414px;
}
.menu a {
    color:#EB5428;
}
.menu ul {
    max-height: 0;
    overflow: hidden;
}
input:checked ~ ul {
    max-height: 500px;
}
#menunav li:first-child {
    font-weight: bold;
    position: absolute;
    left: 50px;
    top: 5px
}
#menunav li:last-child{
    position: absolute;
    right: 40px;
    top: 5px
}
#logo {
    position: absolute;
    left: 150px;
    top: 5px;
    background-color: #EB5428;
    width: 100px;
}
#searchbar {
    position: absolute;
    top: 100px;
    left: 30%;
}
/* End of Main Naviagtion */
/* Header */
#tacos img {
    max-width: 100%;
}
header {
    background-color: #F2F2F2;
}
header li {
    list-style: none;
    display: inline;
}
header a{
    color: #EB5428;
}
menu { 
    display: flex;
    flex-direction: row;
    columns: 4;
    align-items: center;
}
header h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
/* End of Header */
/* Details & Tacos Description*/
#tacos p{
    margin-bottom: 30px;
}
#details h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#details dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
#details dt {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0
}
#details dd {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0
}
/* End of Details & Tacos Description */
/* ingredients */
#ingredients ul {
    list-style-type: square;
    list-style-position: inside;
}
#ingredients li{
    margin-bottom: 10px;
}
#ingredients h2{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
/* End of ingredients */
/* Directions */
#directions h2{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#directions ol {
    list-style-type: decimal;
    list-style-position: inside;
}
#directions li{
    margin-bottom: 10px;
}
/* End of Directions */
/* Dishes */
#sides h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
/* footer & socials */
#connect li{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #EB5428;
}
#connect ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}
#connect h3{
    visibility: hidden;
}
footer {
    text-align: center;
    background-color: #f2f2f2;
}
footer p {
    /* position: relative;
    bottom: -300px; */
    font-weight: bold;
    text-transform: uppercase;
}
footer img {
    /* max-width: 100%;
    max-height: 50%; */
    width: 60%;
    margin: 2rem 0 2rem 0;
}
/* End of Footer & Socials */